{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template qtype_multichoice/simpleedit

    Renders a view of the question for interactive editing.

    Context variables required for this template:
    * questionid - Question id.
    * questionname - Question name.
    * questiontext - Question text.
    * answers - An array containing the answers.
    Example context (json):
    {
        "questionid": 123,
        "questionname": "Simple question",
        "questiontext": "<p>What is the answer?</p>",
        "defaultmark": 1.00,
        "answers": [
            {
                "id": 200,
                "answer": "<p>Right answer</p>",
                "isright": 1,
            },
            {
                "id": 201,
                "answer": "<p>Wrong answer</p>",
                "isright": 0,
            }
        ]
    }
}}
<div data-question-id="{{questionid}}" class="que multichoice">
    <div class="info">
        <h3 class="no">Question <span>{{{questionname}}}</span></h3>
        <div class="grade">Marked out of {{defaultmark}}</div>
        {{#help}}
            {{>core_question/question_version_info}}
        {{/help}}
        <span class="badge bg-primary text-light">v1 (latest)</span>
    </div>
    <div class="content">
        <div class="formulation clearfix">
            <h4 class="accesshide">Question text</h4>
            <input type="hidden" name="q37:7_:sequencecheck" value="1" id="yui_3_18_1_1_1756822888619_24">
            <div class="qtext">
                <div class="clearfix">
                    <p>{{{questiontext}}}</p>
                </div>
            </div>
            <div class="ablock">
                <ul class="ablock">
                    {{#answers}}
                        <li data-answer-id="{{id}}">{{{answer}}}</li>
                    {{/answers}}
                </ul>
            </div>
        </div>
    </div>
</div>
