{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_quiz/regrade_needed_notification

    Example context (json):
    {
        "actionurl": "http://example.com/commitregrade.php",
        "message": "Message",
        "name": "regrade-needed",
        "value": "Regrade",
        "hiddenparams": "<input type=\"hidden\" name=\"name\" value=\"value\">"
    }
}}
<div class="alert alert-info alert-block fade in mt-2">
    <form action="{{actionurl}}">
        <div class="commit-regrade">
            <span>
                {{message}}
            </span>
            <input type="submit" class="button-commit-regrade btn btn-primary ml-1" name="{{name}}" value="{{value}}">
            {{{hiddenparams}}}
        </div>
    </form>
</div>
